body
{
 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #000000;
    overflow: hidden;
}

h1 
{
    font-weight: bold;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2
{
    font-weight: bold;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p
{
    font-weight: bold;
    font-family: cursive;
    color: white;
    text-size-adjust: 48px;
    margin-left: 50px;
}
.glowing
{
    position: relative;
    min-width: 400px;
    height: 750px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even)
{
    transform-origin: left;
    margin-top: 20px;
}
.glowing:nth-child(odd)
{
    transform-origin: center;
    margin-bottom: 15px;
}

@keyframes colorChange {
    0%
    {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}

.glowing span
{
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}

.glowing span:before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
}

.glowing span:nth-child(3n+1):before
{
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
                0 0 40px rgba(134,255,0,1),
                0 0 60px rgba(134,255,0,1),
                0 0 80px rgba(134,255,0,1),
                0 0 0 8px rgba(134,255,0,.1);
}

.glowing span:nth-child(3n+2):before
{
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
                0 0 40px rgba(255,214,0,1),
                0 0 60px rgba(255,214,0,1),
                0 0 80px rgba(255,214,0,1),
                0 0 0 8px rgba(255,214,0,.1);
}

.glowing span:nth-child(3n+3):before
{
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
                0 0 40px rgba(0,226,255,1),
                0 0 60px rgba(0,226,255,1),
                0 0 80px rgba(0,226,255,1),
                0 0 0 8px rgba(0,226,255,.1);
}

.glowing span:nth-child(3n+1)
{
    animation: animate 10s alternate infinite;
}
.glowing span:nth-child(3n+2)
{
    animation: animate-reverse 3s alternate infinite;
}
.glowing span:nth-child(3n+3)
{
    animation: animate 8s alternate infinite;
}
@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
@keyframes animate-reverse {
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}
@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}